﻿/* body {
    
    background: url('../img/deadpool.jpg')no-repeat center center fixed;
   background: url('https://wallpapermemory.com/uploads/584/deadpool-background-full-hd-1920x1080-350104.jpg')no-repeat center center fixed;
   
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
} */

.imagen {
    background: url('https://wallpapermemory.com/uploads/584/deadpool-background-full-hd-1920x1080-350104.jpg')no-repeat center center fixed;
    background-size: cover;
   height:75vh;
}


@media(max-width:550px) {
    .navbar {
        background-color: transparent !important;
    }

    h1 {
       font-size:2.8rem;
    }

    h2 {
      
    }

    form {
        text-align: center;
    }
     .second-column{
         display:none;
     }
    #searchTitle{
        margin-top:3rem;
    }
    #scroller {
        overflow: hidden scroll;
        height: 20vh
    }
    .space {
        height: 20vh;
    }
}

.navbar {
    background-color: #1d1b1b !important;
}

.navbar-nav{
    display:flex;
    align-items:center;
}
.navbar-toggler {
    width: 47px;
    height: 34px;
    background-color: transparent;
   
}
.navbar-toggler .line {
        width: 100%;
        float: left;
        height: 4px;
        border-radius:2px;
        background-color: #fff;
        margin-bottom: 5px;
    }

.nav-link {
    color: #fff !important;
    font-family: 'Exo 2', sans-serif;
    font-size: 2rem;
    float:left;
}

.navbar-brand {
    color: #fff !important;
    font-family: 'Exo 2', sans-serif;
    font-size: 3.3rem !important;
}

.active {
    margin-right:1rem;
    font-weight: bold;
    background-color: #b1323281;
}

.btn {
    border: solid 0.1rem;
    border-color: #961a1a !important;
    align-self: center !important;
    padding: 1 1rem;
}

    .btn:hover {
        background-color: #961a1a;
        color: #fff;
    }

.second-column {
    color: #fff;
}

h1::selection {
    color: #da2c2c !important;
}

p::selection {
    color: #da2c2c !important;
}

footer {
    background-color: #961a1a;
    height: 20vh;
    justify-content: center;
}

h1,h2,h3,h4,h5 {
    font-family: 'Exo 2', sans-serif;
}


.search-sec {
    background-color: #961a1a;
    height: 20vh;
    color: #fff;
}

.title-sec {
    background-color: #fff;
    height: 20vh;
}

.btnSearch {
    background-color: #ffffff;
    padding: 0.5rem;
}


.centrado {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-deck{
    display:inline-block;
}

.space{
    height:30vh;
}

.btnSearch {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#scroller {
    overflow: hidden scroll;
    height: 80vh
}