﻿
    <div class="row  imagen">
        <div class="col-lg-6 col-sm-12 first-column">
            <div class="card border-0 shadow my-5">
                <div class="card-body p-5">
                    <h2 class="text-center mt--4">
                        Enter a whole hero experience
                    </h2>
                    @using (Html.BeginForm())
                    {
                        <form>
                            <div class="form-group">
                                <label for="txtUserName">Email</label>

                                <input type="text" name="email" id="email" class="form-control" placeholder="Ingrese el Email" required="required" autofocus maxlength="50" />


                            </div>
                            <div class="form-group">
                                <label for="txtPwd">Password</label>
                                <input ID="txtPass" name="password" id="password" class="form-control" placeholder="Ingrese la Contraseña" type="password" required="required" maxlength="20" />
                            </div>
                            <button type="submit" class="btn" id="btnSubmit">Start</button>
                        </form>
                    }
                </div>
                <div class="card-footer text-center">
                    <p>if you don't have an account...</p>
                    <a href="@Url.Action("register", "user")" class="btn">Register</a>
                </div>
            </div>
        </div>
        <div class="col-lg-1">

        </div>
        <div class="col-lg-5 col-sm-12 mt-5 second-column">
            <h1 class="text-center">
                Heroes Wiki ~ Discover an amazing world with us
            </h1>
            <p class="text-center col-lg-12">Heroes wiki is a database service to find out all of your favorite characters</p>
        </div>

    </div>
