﻿@model Heroes.Models.Tb_Usuarios
@{
    /**/

    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
           window.onload = function () {
               if (('@ViewBag.Message' == 'Ok')) {
                   swal('Usuario Registrado', 'Se registró el usuario de manera exitosa.\n\n Ya puedes autenticarte', 'success');
               }
               else if (('@ViewBag.Message' == 'Exists')) {
                    swal('Error!', 'El usuario que desea registrar ya existe. \n\n Por favor utilizar nuestro proceso de recuperación de contraseña.', 'error');
               }
               else {
                    swal('Error', 'Se presentó el siguiente error: \n @ViewBag.Message \n\n Por favor contacte al administrador del sistema.', 'error');
               }
            };
    </script>
}



<div class="row  justify-content-center imagen">


    <div class="col-lg-6 col-sm-12 justify-content-md-center">
        <div class="card border-0 shadow my-5">
            <div class="card-body p-5 ">

                @if (@ViewBag.add == null)
                {
                    <h2 class="text-center mb-3">
                        Register Now
                    </h2>
                    using (Html.BeginForm())
                    {
                        <form>

                            <div class="form-group col-md-8 offset-md-2 col-sm-12 ">
                                <label for="txtUser">User Name</label>
                                @Html.EditorFor(model => model.userName, "", new { htmlAttributes = new { @class = "form-control", @style = "", placeholder = "Your hero Name" } })
                                @Html.ValidationMessageFor(model => model.userName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-8 offset-md-2 col-sm-12">
                                <label for="txtEmail">Your Email</label>
                                @Html.EditorFor(model => model.email, "", new { htmlAttributes = new { @class = "form-control", @style = "", placeholder = "email" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group col-md-8 offset-md-2 col-sm-12 ">
                                <label for="txtPwd">Password</label>
                                @Html.PasswordFor(m => m.password, new { @class = "form-control", placeholder = "Your Password" })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>


                            <button type="submit" class="btn col-md-4 offset-md-4 col-md-2" id="btnSubmit">Submit</button>

                        </form>

                        if (@ViewBag.Message == "Exists")
                        {
                            <p class="text-danger text-center"> este usuario ya existe</p>
                        }
                    }
                }
                else
                {

                }
            </div>
        </div>
    </div>



</div>