﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Heroes Wiki</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Heroes Wiki</a>
           
            <button class="navbar-toggler collapsed"data-target="#navbarResponsive" data-toggle="collapse">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">

                <ul class="navbar-nav ml-auto">
                    @if (Session["UserEmail"] == null)
                    {
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("login", "user")">
                                Log in
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("register", "user")">Register</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item active">
                            <p class="text-center text-white-50 mt-4">@Session["UserPerfil"]</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("logout", "user")">Log out</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer class="py-4 text-white-50">
            <div class="text-center">
                <small>Copyright &copy; Heroes Wiki</small>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/ajax")
    @Scripts.Render("~/bundles/siteJs")
    @RenderSection("scripts", required: false)
</body>
</html>
