﻿@model  Heroes.Models.Result
@{ 
    
}

<div class="row">
    <div class="col-lg-12 text-center">
        <h2>Details about : @Model.name</h2>
    </div>
</div>
<section>
    <div class="card">
        <h3 class="text-center ">@Model.name</h3>
        <img src="@Model.image.url" class="centrado img-fluid" alt="">

        <div class="accordion" id="accordionExample">

            <div class="card-header  mt-5" id="headingOne">
                <h2 class="mb-0">
                    
                    <p class="btn centrado">Power Stats</p> 
                  
                </h2>
            </div>


            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>

                                <th scope="col">Intelligence</th>
                                <th scope="col">Strength</th>
                                <th scope="col">Speed</th>
                                <th scope="col">Durability</th>
                                <th scope="col">Power</th>
                                <th scope="col">Combat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">@Model.powerstats.intelligence</th>
                                <th scope="row">@Model.powerstats.strength</th>
                                <th scope="row">@Model.powerstats.speed</th>
                                <th scope="row">@Model.powerstats.durability</th>
                                <th scope="row">@Model.powerstats.power</th>
                                <th scope="row">@Model.powerstats.combat</th>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed centrado" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Biography
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item  text-center"><h3><strong>Hero name </strong></h3> @Model.name</li>
                        <li class="list-group-item  text-center active"><h3><strong>Connections </strong></h3>(Relatives)</li>
                        <li class="list-group-item  text-center">@Model.connections.relatives</li>
                        <li class="list-group-item  text-center active"><h3>Ocupations</h3></li>
                        <li class="list-group-item  text-center">@Model.work.occupation</li>
                        <li class="list-group-item  text-center active"><h3>Appearance</h3></li>
                        <li class="list-group-item text-center">Race : @Model.appearance.race  | Gender : @Model.appearance.gender | Height : @Model.appearance.height.FirstOrDefault() | Weight : @Model.appearance.weight.FirstOrDefault() </li>
                       
                    </ul>
                </div>
            </div>
        </div>
     
    </div>
</section>


