﻿@model Heroes.Models.ResultsList
@if (Model != null)
{
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Search results for @Model.busqueda (@Model.results.Count()) </h2>
        </div>
    </div>
    foreach (var item in Model.results)
    {



        <div class="card-deck col-lg-4">
            <div class="card">
                <img src="@item.image.url" class="card-img-top" alt="imagen">
                <div class="card-body">
                    <h5 class="card-title text-center">@item.name</h5>

                    <p class="card-text"><a class="btn centrado" data-id="@item.id"  id="btnSee" title="Ver Mas" edit_row>See More..</a></p>
                    
                </div>
                <div class="card-footer">
                    <small class="text-muted">More Info SuperHero API</small>
                </div>
            </div>
        </div>



    }

}
