﻿
@using Heroes.Models;
@model List<Tb_Bus_Usuarios>
@if (Model != null)
{
    <div class="row">
        <div class="col-lg-12 text-center" id="searchTitle">
            <h4>Searches made by @Session["UserPerfil"]  </h4>
        </div>
    </div>



            <div class="card-body mt-2"  id="scroller">
                <ul>


                    @{

                       

                        List<Tb_Bus_Usuarios>.Enumerator model = Model.GetEnumerator();


                       while( model.MoveNext())
                        {
                            
                           
                            
                                string busqueda = model.Current.busqueda;
                                DateTime fecha = model.Current.fechaBusqueda;


                                <li class="list-group-item  text-center"><h5><strong>@fecha:</strong></h5>@busqueda</li>


                            
                           
                        }
                         



                    }

                </ul>
            </div>

         


       
    }
