﻿@using Heroes.Models;
@model List<Tb_Bus_Usuarios>


@{
    ViewBag.Title = "Index";
}
    <div id="all">
        <div class="row title-sec justify-content-center text-center">
            <div class="col-lg-8 col-sm-12">
                <h1>Heroes Wiki have all do you want know about your favorites Characters </h1>
            </div>
        </div>
        <div class="row justify-content-center search-sec ">


            <div class="col-lg-6 col-sm-12 mt-5">
                <h2 class="text-center">Find your hero</h2>
            </div>
            <div class="col-lg-6 col-sm-12 mt-5">



                @using (Ajax.BeginForm("SearchData", "Home", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "gridContainer",
                    OnSuccess = ""
                }, new { id = "searchForm" }))
                {

                    <div class="row ">
                        <div class="input-group">
                            <div class="col-lg-11">
                                <div class="input-group mt-4">


                                    <input id="txtSearch" name="key" type="text" class="form-control" placeholder="Buscar...">

                                    <span class="input-group-btn">
                                        <button id="btnSearch" type="submit" class="btn btnSearch" title="Search"><i class="glyphicon glyphicon-search"></i> Search</button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                }
                @using (Ajax.BeginForm("LoadDataById", "Home", null, new AjaxOptions
                {
                    HttpMethod = "post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "detailContainer",
                    OnSuccess = ""
                }, new { id = "loadForm" }))
                {
                    @Html.Hidden("id")
                }

            </div>
        </div>
        <div class="row mt-5 justify-content-between">
            <div class="col-lg-7 col-sm-12 ">
                <div id="spam">

                </div>
                <div id="gridContainer">

                    @if (Model == null)
                    {

                    }
                </div>
                <div id="detailContainer">

                    @if (Model != null)
                    {

                    }
                </div>
            </div>


            @using (Ajax.BeginForm("GetBusqueda", "Home", null, new AjaxOptions
            {
                HttpMethod = "post",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "history",
                OnSuccess = ""
            }, new { id = "userForm" }))
            {
                @Html.Hidden("gg");
            }
            <div class="col-lg-4 col-sm-12">

                @Html.Partial("~/Views/Home/_UserSearch.cshtml", Model)

            </div>

        </div>

        <div class="space"></div>

    </div>